:host
  height 100%

nz-layout,
nz-sider
  height 100%

nz-sider
  overflow auto

nz-header
  position fixed
  width 100%
  background #fff
  box-shadow 0 1px 4px rgba(0, 21, 41, 0.08)

nz-content
  margin-top 64px

[nz-menu-item]
  text-transform capitalize

.logo
  margin 16px
  height 32px
  background rgba(255, 255, 255, 0.2)

.main
  position relative
